node_modules
.env
.env.local
.prettierrc.json
.solhint.json
coverage
coverage.json
typechain
typechain-types
migrations
.solcover.js
.vscode
soljson-v0.8.0+commit.c7dfd78e.js

# Hardhat files
cache
artifacts
